{block content}

    <div id="wrapper">

    <!-- Navigation -->
    {include '../Nav/patient.latte'}

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Pacient: {$patient->jmeno} {$patient->prijmeni}</h1>
                    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Osobní informace
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            {control patientInfoControl, $patient->idpacient}
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    {include 'medication.latte'}
                </div>
                <!-- /.row -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Historie odběrů
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                    <th>Datum odběru</th>
                                    <th>Poček kopií KG</th>
                                    <th>Poznámka</th>
                                    <th>Akce</th>
                                </thead>
                                <tbody>

                                {foreach $samples as $s}

                                    <tr>
                                        <td>{$s->datum|date:'%d.%m.%Y'}</td>
                                        <td>{$s->kopie}</td>
                                        <td>{$s->poznamka}</td>
                                        <td><a href="{plink deleteSample! idSample => $s->idodber}">Odebrat</a> <a href="{plink editsample $s->idodber, $patient->idpacient}">Edit</a></td>
                                    </tr>

                                {/foreach}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{/block}