{block content}

    <div id="wrapper">

    <!-- Navigation -->
    {include '../Nav/patient.latte'}

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Úprava pacienta {$patient->jmeno} {$patient->prijmeni}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Editace osobních údajů
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            {control editPatientForm}
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{/block}