<div class="panel panel-default">
    <div class="panel-heading">
        Historie léčby
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Název</th>
                    <th>od</th>
                    <th>do</th>

                        <th>Akce</th>

                </tr>
                </thead>
                <tbody>
                {foreach $medication as $t}
                    <tr>
                        <td>
                            {$drugs[$t->lek_enum_idlek_enum]}
                        </td>
                        <td>
                            {$t->od|date:'%d.%m.%Y'}</td>
                        <td>
                            {if $t->do !=""}
                                {$t->do|date:'%d.%m.%Y'}
                            {else}
                                <form n:name=endForm class=form>
                                    {input do}
                                    <input type="hidden" n:name=idlecba value={$t->idlecba} >
                                    <input n:name=send>
                                </form>
                            {/if}
                        </td>
                        <td>
                            <a href="{plink deleteMed! idMed => $t->idlecba}">Odebrat</a>
                        </td>

                    </tr>
                {/foreach}
                </tbody>
            </table>
        </div>

            {control medForm}

    </div>
</div>