{snippet}
<table class="table">
    <tr>
        <th>Jméno: </th>
        <td>{$patient->jmeno}</td>
    </tr>
    <tr>
        <th>Příjmení: </th>
        <td>{$patient->prijmeni}</td>
    </tr>
    <tr>
        <th>Rodné číslo: </th>
        <td>{$patient->rc}</td>
    </tr>
    <tr>
        <th>Datum narození: </th>
        <td>{ifset $patient->narozen}{$patient->narozen|date:'%d.%m.%Y'}{/ifset}</td>
    </tr>
    <tr>
        <th>Datum diagnózy: </th>
        <td>{ifset $patient->diagnoza}{$patient->diagnoza|date:'%d.%m.%Y'}{/ifset}</td>
    </tr>
</table>
{/snippet}