{block content}

    <div id="wrapper">

        <!-- Navigation -->
        {include '../Nav/search.latte'}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Nový pacient</h1>
                        <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Založení karty pacienta
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                {control addForm}
                            </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{/block}