
{block content}

    <div id="wrapper">

    <!-- Navigation -->
    {include '../Nav/search.latte'}

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Vyhledávání pacientů</h1>
                    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Vyhledávání
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            {control searchForm}
                            <a class="btn btn-warning pull-right" n:href="Homepage:default">Reset filtrů</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Informace
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            autor Tomáš Pastorek - pastoto2
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Výsledky vyhledávání
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>Jméno</th>
                                    <th>Příjmení</th>
                                    <th>RČ</th>
                                    <th>Narození</th>
                                    <th>Diagnóza</th>
                                    <th>Karta pacienta</th>
                                </tr>
                                </thead>
                                <tbody>
                                {foreach $patients as $p}
                                    <tr>
                                        <td>{$p->jmeno}</td>
                                        <td>{$p->prijmeni}</td>
                                        <td>{$p->rc}</td>
                                        <td>{$p->narozen|date:'%d.%m.%Y'}</td>
                                        <td>{$p->diagnoza|date:'%d.%m.%Y'}</td>
                                        <td><a href="{plink Patient:default id => $p->idpacient}">Zobrazit</a></td>
                                    </tr>
                                {/foreach}
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{/block}