
{block content}

    <div id="wrapper">

    <!-- Navigation -->
    {include '../Nav/search.latte'}

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Konfigurace léčiv</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {ifset $drugname}
                                Editace léku: {$drugname}
                            {else}
                                Nový lék
                            {/ifset}
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            {ifset $drugname}
                                {control editForm}
                            {else}
                                {control addForm}
                            {/ifset}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Výpis léčiv
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                <th>Název</th>
                                <th>Akce</th>
                                </thead>
                                <tbody>

                                {foreach $drugs as $d}

                                    <tr>
                                        <td>{$d->nazev}</td>
                                        <td><a href="{plink delete! id => $d->idlek_enum}">Odebrat</a> <a href="{plink edit! id => $d->idlek_enum}">Edit</a></td>
                                    </tr>

                                {/foreach}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div>
    </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{/block}