<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

    {include 'header.latte'}

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="active">
                    <a n:href="Patient:default $patient->idpacient"><i class="fa fa-folder fa-fw"></i> Karta pacienta</a>
                </li>
                <li>
                    <a n:href="Patient:addsample $patient->idpacient"><i class="fa fa-tint fa-fw"></i> Nový odběr</a>
                </li>
                <li>
                    <a n:href="Patient:edit $patient->idpacient"><i class="fa fa-user fa-fw"></i> Editace karty</a>
                </li>

            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>