<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

    {include 'header.latte'}

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="active">
                    <a n:href="Homepage:default"><i class="fa fa-search fa-fw"></i> Vyhledávání</a>
                </li>
                <li>
                    <a n:href="Homepage:add"><i class="fa fa-plus fa-fw"></i> Nový pacient</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-table fa-fw"></i> Číselníky<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a n:href="Drug:default">Léčiva</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>