
{block content}

    <div id="wrapper">

    <!-- Navigation -->
    {include '../Nav/search.latte'}

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Nastavení přístupu</h1>
                    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Založení účtu
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            {control signUpForm}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Existující účty
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table class="table table-bordered">
                                <thead>
                                <th>Účet</th>
                                <th>Role</th>
                                <th>Akce</th>
                                </thead>
                                <tbody>

                                {foreach $users as $u}
                                    <tr>
                                        <td>{$u->username}</td>
                                        <td>
                                        {if $u->role == 'admin'}
                                            Admin
                                        {else}
                                            Uživatel <a href="{plink promote! id => $u->id}">[Povýšit]</a>
                                        {/if}
                                        </td>
                                        <td>
                                            {if $u->role == 'user'}
                                                <a href="{plink remove! id => $u->id}">Odstranit účet</a>
                                            {else}
                                                -
                                            {/if}
                                        </td>
                                    </tr>
                                {/foreach}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{/block}