{block content}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Přihlašte se</h3>
                    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
                    <p>Pro účely testování jsou připravené následující uživatelksé účty:</p>
                    <p>username:user pass:user123456</p>
                    <p>username:admin pass:admin123456</p>
                </div>
                <div class="panel-body">
                    {control signInForm}
                </div>
            </div>

        </div>
    </div>
</div>

